@{
    ViewBag.Title = "Manage_Medicine";
    Layout = null;
}
<div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
        <div class="panel-title">
            Manage Medicine
        </div> <div class="panel-options"> <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a> <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a> <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a> <a href="#" data-rel="close"><i class="entypo-cancel"></i></a> </div>
    </div> <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="AddEdit_Medicine">
               @Html.Action("AddEdit_Medicine", "Admin")
            </div>
            <div class="col-lg-12" id="MedicineGrid">
                @Html.Action("MedicineGrid", "Admin")
            </div>
        </div>

    </div>
</div>

