<ul id="main-menu" class="main-menu">
    <li>
        <a href="dashboard/main/index.html"><i class="entypo-plus-squared"></i><span class="title">Add Data Entry</span></a>
        <ul>
            <li> <a href="~/Patient/Patient_Entry"><span class="title">Patient Registration</span></a> </li>
            <li> <a href="~/OPD/OPD_Entry"><span class="title">OPD Entry</span></a> </li>
            <li> <a href="~/IPD/IPD_Entry"><span class="title">IPD Entry</span></a> </li>
        </ul>
    </li>
</ul>