@{
    ViewBag.Title = "Manage_Advice";
     Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="panel-heading">
                    <div class="panel-title">
                        Manage Advice
                    </div> <div class="panel-options"> <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a> <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a> <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a> <a href="#" data-rel="close"><i class="entypo-cancel"></i></a> </div>
                </div> <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12" id="AddEdit_Advice">
                            @Html.Action("AddEdit_Advice", "IPD")
                        </div>
                        <div class="col-lg-12" id="Grid_Advice">
                            @Html.Action("AdviceGrid", "IPD")
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>

